header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(250, 248, 248);
    z-index: 1;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.49);
}
.X-navbar.active {
    display: flex;
}
header .X-navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.266);
    height: 700px;
    width: 300px;
    padding: 70px 0;
    backdrop-filter: blur(16px);
    display: none;
}
header .X-navbar .links1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
header .X-navbar .links1 .nav-link {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 1.4rem;
}
header .X-navbar .links {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
header .navbar {
    /* background-color: rgb(252, 250, 250); */
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 13px;
}
header nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: black;
    display: flex;
}
header nav .links .nav-link {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 1.4rem;
}
header nav .logo {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

@media screen and (max-width: 700px) {
    header .navbar .links .nav-link {
        display: none;
    }
}